<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#" routerLink="/">
      <img src="assets/facultetext.png" alt="Faculte.tn Logo">
    </a>

    <div class="navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      </ul>

      <div class="ml-auto">
        <button class="btn btn-outline-secondary mr-2" routerLink="/sign-in">{{ 'signIn' | translate }}</button>
        <button class="btn btn-primary" routerLink="/register">{{ 'joinNow' | translate }}</button>
      </div>
    </div>
  </div>
</nav>


<div class="bg-light py-5">
  <div class="container">
    <div class="row justify-content-center" *ngIf="showForm">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title text-center mb-4">Forgot Password</h2>
            <form (ngSubmit)="submitForm()" #forgotPasswordForm="ngForm">
              <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" class="form-control" [(ngModel)]="email" required>
              </div>
              <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
            </form>
            <!-- Success message -->
            <div *ngIf="successMessage" class="alert alert-success mt-3" role="alert">
              {{ successMessage }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Reset password form -->
    <div *ngIf="!showForm">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title text-center mb-4">Reset Password</h2>
            <form (ngSubmit)="resetPassword()" #resetPasswordForm="ngForm">
              <div class="form-group">
                <label for="newPassword">New Password:</label>
                <input type="password" id="newPassword" name="newPassword" class="form-control" [(ngModel)]="newPassword" required>
              </div>
              <div class="form-group">
                <label for="confirmPassword">Confirm Password:</label>
                <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" [(ngModel)]="confirmPassword" required>
              </div>
              <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
            </form>
            <!-- Error message -->
            <div *ngIf="errorMessage" class="alert alert-danger mt-3" role="alert">
              {{ errorMessage }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
